html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
}

.nc-red {
    color: #ef2b35;
}

.nc-grey {
    color: #b2b2b3;
}

* {
    font-size: 1.4rem;
    font-size: 14px;
    line-height: 1.69;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.wrapper * {
    padding: 0;
    margin: 0;
}

.translucent-background {
    background: rgba(255,255,255,0.1);
}

.backgroundNC {
    background: #151515;
}

.background {
    background: -webkit-linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* W3C */
}

.background2 {

    background: -webkit-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* W3C */

}

.time {
    text-align: right;
    font-size: 1.2rem;
}

.shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.wrapper {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

.wrapper .container {
    padding-top: 100px
}

.custom-row {
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 20px;
}

.info-wrapper {
    width: 100%;
}

.image-wrapper {
    width: 15%;
}

.name-wrapper {
    width: 78%;
}

.avatar {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.timestamp {
    text-align: right;
}

.article-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
    margin-right: 10px
}

.article{
    line-height: 1.69
}

.loading {
    padding: 20% 0;
    text-align: center;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 45%;
}