<div class="wrapper backgroundNC">
  <div class="container">
    <div class="row custom-row shadow" ng-repeat="activity in recentActivities">
      <div class="twelve columns">
        <div class="timestamp">{{activity.timestamp}}</div>
        <div class="info-wrapper u-cf">
          <div class="image-wrapper u-pull-left">
            <img ng-src="{{activity.user.user_photo}}" alt="" class="avatar"/>
          </div>
          <div class="name-wrapper u-pull-left">
            <h5 class="name">{{activity.user.name}}</h5>
            <p class="designation">{{activity.user.title}}, {{activity.user.company}}</p>
          </div>
        </div>
        <div class="info-wrapper u-cf">
          <div class="image-wrapper u-pull-left">
            <img ng-src="{{activity.page.url}}" alt="" class="article-image"/>
          </div>
          <div class="name-wrapper u-pull-left">
            <p><a ng-href="{{activity.page.url}}">{{activity.page.title}}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
